:root{
    --color-primary: #917758;
    --color-secondary: #3c2915;
    --color-primary-light: #f5eee6;
}

*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)),url(../images/robot.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
  
}
.container{
    width: 1170px;
    margin: 0 auto;
}
#particles-js{
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(0,0,0,0);
    color: white;
    z-index: var(--color-primary-light);
}

/**************
*  HOME
**************/
.home{
    position: relative;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
.home .header{
    padding: 30px;
}
.home .header .nav{
    display:flex;
    justify-content: center;
}
.nav.black{
    background: rgba(0, 0, 0, 0.856);
    border-radius: 0 10px 10px;
    position:fixed;
    width:100% !important;
    z-index:9999;
    float: inline-start;
    top: 0;
    right:0;
}
.home .header .nav ul{
    display: flex;
    list-style: none;
}
.home .header .nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}
.home .header .nav ul li a{
    color: white;
    text-transform: uppercase;
    text-decoration:none;
    font-weight: bold;
    font-size: 12px;
    padding: 20px;
    letter-spacing: 2px;
    
}
.home .header .nav ul li.logo{
    margin: 0 30px;
}
.nav ul li a::before,
 a::after{
    content: '';
    display: flex;
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:var(--color-primary-light);;
    left: 10px;
    transform: scaleX(0);
    transition: all .3s;
}
.nav ul li a::before{
    top: 0 ;
    transform-origin: left;
}
.nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}
.nav ul li a:hover::before,
.nav ul li a:hover::after{
    transform: scaleX(1);
}

/****************
*  HOME 
*****************/
.home .banner{
    position: absolute;
    color: white;
    text-align: center;
    top: 40%;
    left: 50%;
    height: 270px;
    width: 770px;
    margin-left: -385px;
    margin-top: -75px;
}

.home .banner h1{
    font-size: 120px;
    margin-top: -5%;
} 
 h1::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: flash 700ms infinite;
}

@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }

} 

/********
*  ABOUT 
*********/

.about .container{
    position: relative;
    display: flex;
    margin-right: 29%;
    transform-style: preserve-3d;
    perspective: 1000px;
}   
.about .experience{
    position: relative;
    display: flex;
    justify-content: center;
    width: 66%;
    margin-left: 41%;
    margin-top: 15%;
    scroll-behavior: smooth;
}
.about .experience:hover{
    transform: rotateY(10deg);
    transform-origin: right;
} 

.experience .text{
    position: relative;
    display: flex;
    align-items: center;
    padding: 50px 40px;
    background: #0a09278c;
    margin: 2px;
    justify-content: center;
}
.text:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.text:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -10;;
    filter: blur(20px);
}
.text:nth-child(1):before,
.text:nth-child(1):after{
    background: linear-gradient(50deg,#00ffff,#010615,#1edb28);
}
.about .experience h2{
    font-weight: 400;
    font-size: 50px;  
}
.about .experience .text{
    color: white;
    display: flex;
    justify-content: space-between;
}
.about .experience .text p{
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 22px;
}

/**********
*  PORTFÓLIO
************/

.portfolio{
    position: relative;
    padding: 100px;
    text-align: center;
    margin-top: auto;
   
}
.portfolio h2{
    color: var(--color-primary-light);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.boxes{
    position: relative;
    display:flex;
    justify-content: space-between;
}
.box{ 
    position: relative;
    align-items: center;
    padding: 50px 40px;
    background: #0a09278c;
    margin: 15px;
    justify-content: center;

}
.box:nth-child(1){
    width: 116%;
}
.box:after{
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    z-index: -1;
    filter: blur(5px);
}
.box:before{
    content: '';
    position: absolute;
    top: -1px;
    left: -2px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    transform: scaleY(1);
}

.box:nth-child(1):before,
.box:nth-child(1):after{
    background: linear-gradient(144deg,#4d9e9e,#010615,#e91515);
    transition: transform .3s ease-in-out;
}
.box:nth-child(2):before,
.box:nth-child(2):after{
    background: linear-gradient(235deg,#3f3f66,#020024,rgba(18, 186, 68, 0.733));
    transition: transform .3s ease-in-out;
    
}
.box:nth-child(3):before,
.box:nth-child(3):after{
    background: linear-gradient(235deg,#772aff,#010615,#2196F3);
    transition: transform .3s ease-in-out;
}
.portfolio .box img{
    width: 200px;
    align-items: center;
    margin-top: 10px;
}
.portfolio .box .imagem1{
    margin-top: 12px;
}
.portfolio .box:hover:after{
    border-top: 1px solid; 
    border-bottom: 1px solid;
    transform: scaleX(0.8); 
} 
.portfolio .box:hover:before{
    border-left: 1px solid ;
    border-right: 1px solid ; 
    transform: scaleY(0.8); 
} 
.portfolio .box h4{
    color: var(--color-primary-light);
    margin-top:20px;
    letter-spacing: 1px;  
}
.portfolio .box a{
    text-decoration: none;
    color: var(--color-primary-light);
}
.portfolio .box p{
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
    color: var(--color-primary-light);
}


/*********
*  CONTACT
**********/
.contact{
    padding: 100px 0;
    background-size: cover;
    left: 20%;
}
.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    overflow: hidden;
    margin: 0 5px;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.6);
    transition: all .3s ease-out;
}
a{
    list-style: none;
    text-decoration: none;
}
.wrapper .button:hover{
    width: 200px;
}
.wrapper .button .icon img{ 
    display: inline-block;
    align-items: center;
    align-items: center;
    height: 23px;
    width: 23px;
    margin-left: 4px;
    top: 6px;
}
.wrapper .button .icon{
    display: inline-block;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50% ;
    box-sizing: border-box;
    line-height: 60px;
    transition: all .3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
    background: #1da1fe;

}
.wrapper .button:nth-child(2):hover .icon{
    background: #7c7575;
}
.wrapper .button:nth-child(3):hover .icon{
    background: #4267b2;
}
.wrapper .button:nth-child(4):hover .icon{
    background: #25d366;
}
.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all .3s ease-out;
}
.wrapper .button:hover .icon i{
    color: #fff;
}
.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all .3s ease-out;
}
.wrapper .button:nth-child(1) span{
    color: #1da1fe;
}
.wrapper .button:nth-child(2) span{
    color: #7c7575;
}
.wrapper .button:nth-child(3) span{
    color: #4267b2;
}
.wrapper .button:nth-child(4) span{
    color: #25d366;
}

/*********
*  FOOTER
**********/

.footer{
    color: whitesmoke;
    padding: 26px;
    text-align: center;
    font-size: 12px;
}

